/* @media (max-width: 1050px){
    ul {
        display: none;
    }
    .hbtns{
        margin-right: 15px;
    }
    .fa-bars {
        display: block !important;
    }
    .hero-right img{
        max-width: 100%;
    }
}
@media (max-width: 950px){
    .service-content h1 {
        font-size: 48px;
        
    }
}
@media (max-width: 775px){
    .service-content h1 {
        font-size: 32px;
        line-height: 28px !important;
        
    }
}
@media (max-width: 720px){
    .header-row {
        gap: 40px !important;
       
    }
}
@media (max-width: 630px){
    .service-content h1 {
        font-size: 24px;
        line-height: 25px !important;
        
    }
}
@media (max-width: 590px){
    .header-row {
        gap: 60px !important;
       
    }
}
@media (max-width: 500px){
    .hbtns {
        display: none !important;
    }
   
}
@media (max-width: 460px){
    .service-content h1 {
        font-size: 20px;
        line-height: 25px !important;
        
    }
} */